<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        {{> footer}} <!--method to call our footer.hbs partial file-->
            <p>
                {{welcomeMessage}} 
            </p>
    </body>
</html>